.popup {
    background-image: url(https://kansashydrographics.com/cdn/shop/products/3D_Polka_Dots_530x@2x.jpg?v=1539296284);
    width: 600px;
    height: 200px;
    position: fixed;
    left: 30%;
    top: 40%;
    border-radius: 8px;
    display: none;
}
.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: rgb(200, 28, 28);
    font-size: 40px;
    color: #641c1c;
    border-radius: 30%;
    outline: none;
    cursor: pointer;
}

.popup h2 {

    color: rgb(0, 0, 0);
    text-align: center;

}

.popup p {

    font-size: 30px;
    text-align: justify;
    margin: 20px 0;
    color: rgb(32, 192, 88);
    text-align: center;
}

.target{
    width: 50px;
    height: 50px;
    background-color: rgb(242, 17, 17);
    position: absolute;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: transform 1000ms, opacity 1000ms;
}

.possible{
    position: relative;
    width: 200px;
    height: 200px;
}